pgdata/*
!pgdata/__init__.py
plugins/*
!plugins/__init__.py
logs/*
!logs/__init__.py
.idea
*/.DS_Store
.DS_Store
*/__pycache__
pyprojects/utils/__pycache__
pyprojects/datawarehouse/pipelines/scrap2dwh.py
pyprojects/datawarehouse/pipelines/dubaipulse2dwh.py
pyprojects/datawarehouse/pipelines/salesforce2dwh.py
